.danger-popup {
    @include shadow1;
    background-color: $space-cadet;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    z-index: 10000;

    h3 {
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: 10px;
        }
    }

    p {
        font-size: 14px;
    }

    &-message-to-type {
        .danger-popup-message-to-type-highlight {
            font-style: italic;
        }
    }
    
    input {
        width: 50%;
    }

    &-container {
        display: flex;
        justify-content: flex-end;


        button.mega-danger {
            background-color: hsl(0, 73%, 42%);
            color: white;
            margin-top: 20px;
            cursor: pointer;
            border: none;
            font-size: 15px;
            width: fit-content;
            padding: 10px;
            transition: 0.2s;
            border-radius: 10px;
            
            &:hover {
                background-color: hsl(0, 73%, 55%);
                transition: 0.2s;
            }
        }

        button:not(.mega-danger) {
            color: gray;
            margin-top: 20px;
            background-color: hsl(0, 65%, 33%);
            border: none;
            font-size: 15px;
            width: fit-content;
            padding: 10px;
            border-radius: 10px;
        }
    }
}