$space-cadet: #404c6b;
$space-cadet-light: #5a6c99;
$viridian-green: #119da4;
$cerulean-frost: #6d9dc5;
$cream-white: #e4f5ff;
$mandarin: #ef7b45;

@font-face {
    font-family: OpenSans;
    src: url("/../src/assets/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

body {
    margin: 0;
}

* {
    font-family: OpenSans;
}
    
a {
    color: $cream-white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

main {
    margin: 65px 0 0 110px;
}

.wave {
    background-image: url("/src/assets/vectors/wave.svg");
    aspect-ratio: 1402/500;
    width: calc(100% + 110px);
    margin-left: -110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// mettre les deux div en ligne
#home-container{
    display:flex;
    align-items: flex-start;
}

.white {
    color: $cream-white;
}

.shadow1 {
    @include shadow2;
}

.shadow2 {
    @include shadow2;
}

.bold {
    font-weight: bold;
}