// #########################################################
// General styles in this file
// #########################################################

// Color palette
$space-cadet: #404c6b;
$space-cadet-light: #5a6c99;
$viridian-green: #119da4;
$cerulean-frost: #6d9dc5;
$cream-white: #e4f5ff;
$mandarin: #ef7b45;

// Breakpoints
$mobile-width: 800px;
$little-screen-width: 1250px;

@font-face {
    font-family: OpenSans;
    src: url("/../src/assets/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}


body {
    margin: 0;
}

* {
    font-family: OpenSans;
}
    
a, NavLink {
    color: $cream-white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

main {
    margin: 65px 0 0 110px;
}

h2 {
    color: $cream-white;
}

.wave2 {
    margin-top: -100px;
    @include wave("/src/assets/vectors/wave2.svg");

    @media (max-width: 1000px) {
        margin-top: 80%;
    }

    @media (max-width: $mobile-width) {
        margin-top: 250%;
    }

    @media (max-width: 400px) {
        margin-top: 350%;
    }

    @media (max-width: 350px) {
        margin-top: 520%;
    }
    
}

.wave {
    @include wave("/src/assets/vectors/wave2.svg");
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.white {
    color: $cream-white;
}

.shadow1 {
    @include shadow1;
}

.shadow2 {
    @include shadow2;
}

.bold {
    font-weight: bold;
}