// ###########################################################################
// This file contains the styles for the browse view
// ###########################################################################

.change-order-button {
    @include shadow1;
    border: 0;
    padding: 10px;
    background-color: $space-cadet-light;
    color: $cream-white;
    border-radius: 10px;
    font-weight: bold;

    &:active {
        @include shadow2
    }
}

#browse-container {
    display: flex;
    flex-wrap: wrap;

    .card {
        @include shadow1;
        background-color: $space-cadet-light;
        color: $cream-white;
        display: flex;
        flex-direction: column;
        padding: 3%;
        margin-right: 2%;
        margin-top: 2%;
        max-width: 250px;
        border-radius: 20px;
        cursor: pointer;

        i {
            font-size: 0.8em;
        }

        p {
            padding-left: 5px;
        }

    }

}