#dashboard-container {


    align-items: center;
    height: max-content;
    width: max-content;
    border-radius: 30px;
    padding: 3%;
    color: $cream-white;
    background-color: $space-cadet-light;

    .profile-title {
        display: flex;
        align-items: center;
        font-size: 32px;
    }

    .material-icons {
        @include size(64px);
    }

    .navbar-link {
        margin-right: 10px;
        padding: 10px;
        background-color: $space-cadet;
        border-radius: 10px;
        color: $cream-white;
        height: 20px;
        display:flex;
        align-items: center;
        justify-content: center;

        &:hover {
            @include shadow1;
        }

        &:active {
            @include shadow2;
        }

        @media (max-width: $mobile-width) {
            margin-top: 15px;
        }
    }

    button {
        width: 50px;
        height: 50px;
        background-color: aqua;
        border: none;
        display: flex;
        p {
            font-size: 20px;
            color: rgb(255, 0, 0);
        }

    }
}
