#dashboard-container {
    display: flex;
    flex-wrap: wrap;
    color: $cream-white;
    
    .dashboard-item {
        background-color: $space-cadet-light;
        color: $cream-white;
        justify-content: space-around;
        flex-direction: column;
        display: flex;
        width: 20vw;
        border-radius: 30px;
        padding: 3%;
        margin-right: 10px;

        &:hover {
            transition: 0.05s;
            @include shadow1();
        }

        .action-title {
            display: flex;
            align-items: center;
            width: fit-content;

            .material-icons {
                margin-right: 10px;
                font-size: 40px;
            }
        }

        h3 {
            margin-left: 10px;
        }
    }

    .popup {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 4;
        transition: 0.1s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $space-cadet-light;
        padding: 50px;
        border-radius: 50px;
        @include shadow1;

        .close-container {
            display: flex;
            justify-content: flex-end;
            margin: -25px -25px 0 0;

            .material-icons {
                cursor: pointer;
            }
        }
    }

    .highlight {
        border: none;
        background-color: rgba(0,0,0,0);
        justify-content: center;
        margin-left: 0%;
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
        background-color: $space-cadet;
        padding: 5px;
        border-radius: 10px;
        
        &:hover {
            transition: 0.05s;
            @include shadow1();
        }
    }
}