// ###########################################################################
// This file contains the footer style
// ###########################################################################

#footer {
    margin-top: -100px;
    background-color: $space-cadet-light;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 -110px;
    color: white;
    list-style-type: none;
    padding: 50px 0 100px 0;
    font-weight: bold;

    @media (max-width: $mobile-width) {
        flex-direction: column;
        padding-left: 200px;
    }
}