header {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(64,76,107);
    background: linear-gradient(90deg, $space-cadet 10%, $space-cadet-light 100%);

    .banner {
        display:flex;
        justify-content: center;
        align-items: center;


        &-text {
            margin-left: 30px;
            color: $cream-white;
            font-weight: 700;
            font-size: 24px;
        }
    }
    
    .search {
        display: flex;
        align-items: center;
        background-color: $space-cadet-light;
        padding: 8px 12px 8px 12px;
        border-radius: 15px;

        .material-icons {
            font-size: 24px;
            background-color: transparent;
            border: 0;

            &:hover {
                cursor: pointer;
            }
        }

        &-input {
            width: 300px;
            border: 0;
            color: $cream-white;
            background-color: $space-cadet-light;

            &::placeholder {
                color: $cream-white;
            }

            &:focus {
                outline:  none;
            }
        }

        @media (max-width: 860px) {
            width: 300px;
            position: fixed;
            bottom: 0;
            transform: translate(50%, -50%);
        }

        @media (max-width: 500px) {
            width: 210px;
            transform: translate(50%, -50%);
        }
    }

    nav {
        display: flex;

        .navbar-link {
            margin-right: 10px;
            padding: 10px;
            background-color: $space-cadet-light;
            border-radius: 10px;
            color: $cream-white;
            height: 20px;
            line-height: 10px;
            display:flex;
            align-items: center;
            justify-content: center;

            &:hover {
                @include shadow1;
            }

            &:active {
                @include shadow2;
            }
        }

        .active {
            @include shadow1;
        }
    }
    
}