#repo-container {
    background-color: $space-cadet;
    color: $cream-white;
    padding: 3%;
    border-radius: 20px;
    max-width: 80%;

    h3 {
        & > i {
            font-size: 0.8em;
            font-weight: 300;
        }
    }

    ul#repo-menu {
        list-style-type: none;
        display: flex;
        margin-left: 10px;
        padding-left: 0;
        padding-bottom: 2px;
        width: min-content;
        // border-bottom: 1px solid #fff;

        li {
            display: flex;

            padding: 3px 3px 0 0;
            cursor: pointer;

            &.active {
                border-bottom: 2px solid $mandarin;
            }

            &:not(.active) {
                border-bottom: 2px solid #fff;
            }

            .icon {
                margin: 0 8px 0 5px;
            }
        }

    }
}