.file-upload {
    display: flex;
    flex-direction: column;

    .custom-select {
        margin: 10px;
    }

    .choose-file {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}