.file-upload {
    display: flex;
    flex-direction: column;

    select {
        margin: 10px;
    }

    .choose-file {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .submit {
        padding: 10px;
        cursor: pointer;
        color: $cream-white;
        margin: 10px 0 0 75px;
        border-radius: 10px;
        border: 1px solid $cream-white;
        background-color: $space-cadet;
    }
}