
.users {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .user:hover {
        transition: 00.1s;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;

        background-color: $space-cadet;
        height: 7%;
        display: flex;
        align-items: center;
        border-bottom:2px solid #435174;

        p {
            font-size: medium;
        }

        .actions {
            width: 98%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .admin {
                margin-right: 5%;
    
                button {
                    border: none;
                    background-color: #ffffff00;
                    border-radius: 5px;
                    transition: 00.5s;
                    color: aliceblue;
                    padding: 10%;
                    width:150%;

                    span {
                        font-size: 35px;
                    }

                }

                button:hover {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button::after {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button:active {
                    transition: 00.3s;
                    background-color: $mandarin;
                }
                
                
            }

            .quote {
                margin-right: 5%;
    
                button {
                    border: none;
                    background-color: #ffffff00;
                    border-radius: 5px;
                    color: aliceblue;
                    padding: 10%;

                    span {
                        font-size: 35px;
                    }

                }

                button:hover {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button::after {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button:active {
                    transition: 00.3s;
                    background-color: $mandarin;
                }
            }

            .modify {
                margin-right: 5%;
    
                button {
                    border: none;
                    background-color: #ffffff00;
                    border-radius: 5px;
                    color: aliceblue;
                    padding: 10%;

                    span {
                        font-size: 35px;
                    }

                }

                button:hover {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button::after {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button:active {
                    transition: 00.3s;
                    background-color: $mandarin;
                }
            }

            .suppr {
                margin-right: 5%;
    
                button {
                    border: none;
                    background-color: #ffffff00;
                    border-radius: 5px;
                    color: aliceblue;
                    padding: 10%;

                    span {
                        font-size: 35px;
                    }

                }

                button:hover {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button::after {
                    transition: 00.3s;
                    background-color: $cerulean-frost;
                }

                button:active {
                    transition: 00.3s;
                    background-color: $mandarin;
                }
            }
        }
    }

    // ---------------------------------------------------------------------------------------------------------------------------------------------------------
    .user::after {
        transition: 00.1s;
    }

    .user:not(:hover) {
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;

        display: flex;
        align-items: center;
        border-bottom:2px solid #435174;
        height: 7%;

        p {
            font-size: small;
            margin-left: 0%;
        }

        .actions {
            width: 0%;

            span {
                font-size: 0px;
                color: aliceblue;
            }
            button {
                background-color: #43517400;
                border: none;
            }
        }
    }
}




















// .ensemble {
//     margin: 2.5%;
//     width: 90%;
//     height: 80%;
//     display: inline-flex;

//     .list {
//         display: grid;
//         width: 100%;
//         height: 100%;
//         background-color: #4b5b81;
//         border-radius: 2%;
//         padding: 3%;
//         padding-top: 2%;

//         .list-2{
//             overflow-y: scroll;
//             overflow-x: hidden;
//             width: 100%;
//             height: 100%;
//             max-height: 100%;

//             .user {
//                 background-color: #4b5b81;
//                 height: 2%;
//                 min-width: 94%;
//                 padding: 2%;
//                 border-top:2px solid #435174;
//                 border-left:2px solid #435174;

//                 p {
//                     margin-top: -1%;
//                 }

//                 .quit {
//                     background-color: #6f839e;
//                     color: aliceblue;
//                     border: none;
//                     border-radius: 10%;
//                     margin-left: 90%;
//                     margin-top: -10%;

//                     .material-symbols-outlined {
//                         margin-top: 20%;                        
//                     }
//                 }
//                 .quit:hover {
//                     background-color: #941d1d;
//                 }
//             }

//             .user:hover {
//                 background-color: $space-cadet;
//             }

//             .user:active {
//                 background-color: hsl(225, 23%, 26%) ;
//             }
//         }
//     }

//     .infos {
        
//         margin-left: 10%;
//         width: 30%;
//         height: min-content;
//         background-color: $space-cadet;
//         border-radius: 2%;
//         padding: 3%;
//         padding-top: 2%;

        
//         p {
//             margin-top: -3%;
//             margin-left: 3%;
//         }
        
//     }
// }


