#dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $space-cadet-light;

    height: calc(100vh - $header-height);

    #dashboard-navbar {
        background-color: $space-cadet;

        height: 100%;

        .router-link-exact-active > #menu-box {
            background-color: $mandarin;
        }

        #menu-box {
            border-radius: 12px;

            width: 48px;
            height: 48px;

            margin: 8px;

            display: grid;
            place-content: center;

            transition: background-color 0.3s linear;

            &:hover {
                background-color: $cerulean-frost;

                #menu-tooltip {
                    display: inline;
                }
            }

            #menu-icon {
                transition: color 0.3 linear;
                color: $cream-white;
            }

            #menu-tooltip {
                display: none;

                position: absolute;
                left: 72px;
                z-index: 40;

                margin-top: 4px; // Arbitrary value to try to center the tooltip

                width: max-content;

                background-color: $cerulean-frost;
                border-radius: 6px;

                padding: 10px 12px;
            }
        }
    }
}