.edit-deposit {
    display: flex;
    flex-direction: column;
    
    .depo-editor-item {
        background-color: rgba(255, 255, 255, 0.1);
        align-items: center;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin: 5px;

        &-content, &-level {
            margin-left: 10px;
        }

        &-content {
            font-size: 12px;
        }

        &-level {
            font-size: 14px;
            font-weight: bold;
        }

        .pen {
            cursor: pointer;
            margin-right: 5px;
        }
    }

    .depo-editor-left {
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    .add-file {
        background-color: #FFFFFF22;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        margin: 10px;

        .material-symbols-sharp {
            margin-right: 10px;
        }
    }
}