.manage-users {
    overflow-y: scroll;
    display: table;
    
    &-header {
        width: 100%;
        display: table-header-group;
        
        &-title {
            display: table-cell;
            width: 350px;
        }
    }

    &-row {
        display: table-row;
    }
    
    .cell {
        vertical-align: middle;
        display: table-cell;
        width: 350px;
        height: 10px
    }

}