.forgotten-password-container {
  margin: 20px;

  h1 {
    display: inline;
  }

  .headline {
    display: flex;
    align-items: center;
    
    .backButton {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $cream-white;
      border-radius: 5px;
      padding: 5px 2px 5px 5px;
      margin-right: 10px;
      cursor: pointer;
  
      .material-icons {
        color: white;
      }

      &:active {
        background-color: $space-cadet;
      }
    }
  }

  form {
    margin: 10px;
    padding: 10px;
    width: 350px;
    border: 1px solid $cream-white;
    border-radius: 10px;
    flex-direction: column;
    display: flex;

    label {
      display: block;
      font-size: large;
      font-weight: bold;
    }
    
    input {
      width: 300px;

      &[type='submit'] {
        margin: 10px 0 0 0;
        width: 100px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          color: $space-cadet;
          background-color: $cream-white;
        }
      }
    }
  }
}
