#homepage-message {
  color: $cerulean-frost;
  margin-top: 100px;
  text-decoration: underline;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

  a {
    color: $cerulean-frost;
  }
}
