// ###########################################################################
// Here is the style for the login page.
// ###########################################################################

.login-container {
    margin: 65px 0 0 110px;
    #login {
        display: flex;
        flex-direction: column;
        background-color: $space-cadet;
        padding: 4% 6% 4% 6%;
        border-radius: 40px;
        width: 200px;
        
        h2 {
            color: $cream-white;
        }

        input {
            border: 0;
            color: $cream-white;
            margin-bottom: 20px;
            padding: 3%;
            border-radius: 5px;
            background-color: $space-cadet-light;

            &::placeholder {
                color: $cream-white;
            }

            &[type="submit"]:hover {
                @include shadow1()
            }
        }
        
        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    display: flex;
    justify-content: center;
    margin-left: -110px;
    
    .connected {
        color: $cream-white;
    }
}

