.disconnected-box {
    width: calc(100% + 110px);
    height: 20vh;
    margin-left: -110px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
        background-color: $space-cadet;
        padding: 50px;
        border-radius: 50px;
    }
}
