// ###########################################################################
// Here is the style that rules the register page.
// ###########################################################################

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $space-cadet;
  padding: 2% 3% 2% 3%;
  border-radius: 20px;
  @include shadow1();

  h2 {
    color: $cream-white;
  }

  .input-box {
    margin-bottom: 20px;
    font-size: 13px;
  }

  input {
    border: 0;
    color: $cream-white;
    padding: 5px;
    border-radius: 5px;
    background-color: $space-cadet-light;

    &::placeholder {
      color: $cream-white;
    }

    &[type='submit']:hover {
      @include shadow1();
    }
  }

  .strength-bar {
    height: 5px;
    max-width: 106%;
    display: flex;

    &-level {
      height: 5px;
      margin-top: 2px;
      width: calc(35% + 3px);
      border-radius: 5px;
      margin-right: 2px;
      font-size: 14px;
    }

    .color1 {
      background-color: hsl(0, 100%, 55%);
    }

    .color2 {
      background-color: hsl(198, 100%, 55%);
    }

    .color3 {
      background-color: hsl(106, 78%, 45%);
    }
  }

  .text-color1 {
    color: hsl(0, 100%, 60%);
  }

  .text-color2 {
    color: hsl(198, 100%, 55%);
  }

  .text-color3 {
    color: hsl(106, 78%, 45%);
  }

  .input-box {
    position: relative;

    .material-icons {
      position: absolute;
      right: 0;
      top: 2px;
      cursor: pointer;
      // Avoids annoying user selection in various browsers
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
    }
  }

  .password-strength-info {
    color: hsl(0, 0%, 70%);
    font-size: 12px;
    max-width: 220px;
    margin: -15px 0 10px 0;
    padding-left: 35px;

    ul {
      margin: 0;
      padding-left: 10px;
      list-style-type: '- ';
    }
  }

  input:not([type='submit']) {
    width: 300px;
  }

  input[type='submit'] {
    padding: 5%;
    color: #fff;
  }
}
