.reset-password-form {
  margin: 20px;

  form {
    padding: 10px;
    border: 1px solid $cream-white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
    }

    input {
      width: 300px;
      font-weight: bold;

      &[type='submit'] {
        margin: 10px;
        width: 100px;

        &:hover {
          @include shadow1;
        }
        
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}