.otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;

  &-inputs {
    display: flex;

    input {
      width: 20px;
      font-size: x-large;
      height: 20px;
      padding: 10px;
      display: block;
    }
  }
}
