// #########################################################
// General styles in this file
// #########################################################

// Color palette
$space-cadet-dark: hsl(223, 25%, 25%);
$space-cadet: hsl(223, 25%, 34%);
$space-cadet-mid-light: hsl(223, 26%, 37%);
$space-cadet-mid: hsl(223, 26%, 40%);
$space-cadet-light: hsl(223, 26%, 45%);
$viridian-green: #119da4;
$cerulean-frost: #6d9dc5;
$cream-white: #e4f5ff;
$danger: hsl(0, 100%, 60%);
$mandarin: hsl(19, 73%, 58%);

// Breakpoints
$mobile-width: 800px;
$little-screen-width: 1250px;

$header-height: 68px;

@font-face {
    font-family: OpenSans;
    src: url("/../src/assets/OpenSans-Regular.ttf");
}

body {
    margin: 0;
    color: $cream-white;
}

#app {
    position: relative;
    min-height: 100vh;
}

*:not(.material-icons) {
    font-family: OpenSans;
}
    
a, NavLink {
    color: $cream-white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

h2 {
    color: $cream-white;
}

.error {
    @include message(hsla(0, 100%, 55%, 0.5));
    transition: 0.5s;
}

.indication {
    @include message(hsla(198, 100%, 55%, 0.5));
}

.good {
    @include message(hsla(106, 100%, 55%, 0.5));
    transition: 0.5s;
}

.wave2 {
    margin-top: -100px;
    @include wave("/src/assets/wave.svg");

    @media (max-width: 1000px) {
        margin-top: 80%;
    }

    @media (max-width: $mobile-width) {
        margin-top: 250%;
    }

    @media (max-width: 400px) {
        margin-top: 350%;
    }

    @media (max-width: 350px) {
        margin-top: 520%;
    }
    
}

.wave {
    position: relative;
    z-index: 20;
    @include wave("/src/assets/wave.svg");
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.white {
    color: $cream-white;
}

.shadow1 {
    @include shadow1;
}

.size {
    @include size
}

.shadow2 {
    @include shadow2;
}

.bold {
    font-weight: bold;
}

.fade-enter-from, 
.fade-leave-to {
    transition: opacity 0.5s ease-out;
}

.fade-enter-from, 
.fade-leave-to {
  opacity: 0;
}

.full-page {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.submit {
    padding: 10px;
    cursor: pointer;
    color: $cream-white;
    font-weight: bold;
    margin: 10px 0 0 75px;
    border-radius: 10px;
    border: 1px solid $cream-white;
    background-color: $space-cadet;
}

.material-symbols-outlined, .material-symbols-sharp, .material-icons  {
    cursor: pointer;
}

.loading-container {
    display: flex;
    place-content: center;

    padding: 50px 0;
}


input, textarea {
    border: 1px solid $cream-white;
    background-color: $space-cadet;
    border-radius: 5px;
    color: $cream-white;
    outline: none;
    padding: 5px;
}
